<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>
      <img
        alt=""
        src="https://wp-assets.infinum.com/uploads/2023/04/Panda-JavaScript-HERO-img-min.webp"
        style="height: 500px; width: 100%"
      />
    </p>

    <p>
      <span style="font-size: 20px"
        ><span style="font-family: Arial, Helvetica, sans-serif"
          ><strong
            >CSS-in-JS concept has a bad reputation because of its bad runtime
            performance. This is about to change. With Panda CSS, you can have
            the best of both worlds, performance and nice syntax &ndash; and we
            have the code examples and runnable projects to prove it.</strong
          ></span
        ></span
      >
    </p>

    <p>&nbsp;</p>

    <p>
      <span style="font-size: 18px"
        ><span style="font-family: Arial, Helvetica, sans-serif"
          >As front-end developers, we&rsquo;re always looking for tools and
          libraries that streamline our workflow and improve the performance of
          our web applications. One such promising solution that has caught my
          attention is Panda CSS. With Panda CSS, we can simplify front-end
          styling and completely eliminate the runtime overhead of CSS-in-JS
          libraries, making it a compelling choice for modern web
          development.</span
        ></span
      >
    </p>

    <p>
      <span style="font-size: 18px"
        ><span style="font-family: Arial, Helvetica, sans-serif"
          >This blog post will dive into the basics of setting up Panda CSS and
          explore the key features that make it a standout tool for front-end
          development. From installation to usage, we will cover the steps to
          get started with Panda CSS and discover how it can help us achieve
          efficient and optimized styling in our web applications.</span
        ></span
      >
    </p>

    <p>
      <span style="font-size: 18px"
        ><span style="font-family: Arial, Helvetica, sans-serif"
          >So let&rsquo;s get started with this exciting new addition to the
          front-end development ecosystem!</span
        ></span
      >
    </p>

    <p>&nbsp;</p>

    <h2>
      <span style="font-size: 26px"
        ><strong
          >Chakra UI &ndash; a&nbsp;development
          workflow&nbsp;game-changer</strong
        ></span
      >
    </h2>

    <p>
      <span style="font-size: 18px"
        ><span style="font-family: Arial, Helvetica, sans-serif"
          >As a Lead React Engineer with a strong passion for React and a
          special love for Chakra UI, which I have been using for the past two
          years, I&rsquo;m excited to share my thoughts on the future of this
          powerful component library. Chakra UI has been a game-changer in my
          development workflow, solving challenges like delivery speed,
          providing a basic component library, and managing design tokens for
          consistent UIs.&nbsp;</span
        ></span
      >
    </p>

    <p>
      <span style="font-size: 18px"
        ><span style="font-family: Arial, Helvetica, sans-serif"
          >Looking ahead, the Chakra UI team is actively working on
          enhancements, including integrating Panda CSS to eliminate the runtime
          overhead of CSS-in-JS, resulting in even faster and more optimized
          UIs.</span
        ></span
      >
    </p>

    <p>
      <span style="font-size: 18px"
        ><span style="font-family: Arial, Helvetica, sans-serif"
          >In addition to my insights, the author of Chakra UI,&nbsp;<a
            href="https://www.adebayosegun.com/blog/the-future-of-chakra-ui"
            rel="noreferrer noopener"
            target="_blank"
            >Adebayo Segun, has also shared his thoughts on the future of Chakra
            UI</a
          >&nbsp;in a recent blog post, providing further insights and
          perspectives on what&rsquo;s to come for this popular component
          library.</span
        ></span
      >
    </p>

    <p>&nbsp;</p>

    <p>
      <strong
        ><span style="font-family: Arial, Helvetica, sans-serif"
          ><span style="font-size: 26px"
            >Panda CSS &ndash; frontend styling, simplified</span
          ></span
        ></strong
      >
    </p>

    <p>
      <span style="font-size: 18px"
        ><span style="font-family: Arial, Helvetica, sans-serif"
          >Panda CSS is a utility CSS library that provides a set of utility
          classes, patterns, and recipes for building modern and responsive user
          interfaces in Web applications.</span
        ></span
      >
    </p>

    <p>
      <span style="font-size: 18px"
        ><span style="font-family: Arial, Helvetica, sans-serif"
          >In addition, it offers a declarative approach to styling components
          using JavaScript objects, making it more readable and maintainable
          than pure string-based approaches. Similar to Tailwind CSS, Panda CSS
          enables developers to customize styles easily, and more details about
          its features will be revealed in&nbsp;<a
            href="https://infinum.com/blog/panda-css-css-in-js-without-runtime-overhead#customize-styling"
            >step 3 below</a
          >.</span
        ></span
      >
    </p>

    <p>&nbsp;</p>

    <p>
      <strong
        ><span style="font-size: 26px"
          ><span style="font-family: Arial, Helvetica, sans-serif"
            >Get started with Panda CSS in three steps</span
          ></span
        ></strong
      >
    </p>

    <h3>
      <span style="font-size: 20px"><strong>1. Install Next.js</strong></span>
    </h3>

    <p data-id="e850fc6a0cf0d3c90f203642b14a7766">
      <span style="font-size: 18px"
        >If you haven&rsquo;t already, install create-next-app globally on your
        local machine using pnpm, npm, or yarn.</span
      >
    </p>

    <p data-id="8f7d409f045629475130369f58a573fc">
      <span style="font-size: 18px"
        >You can use the following command to create a new Next.js project with
        TypeScript:</span
      >
    </p>

    <pre>
<code class="language-bash">npx create-next-app@latest --typescript</code></pre>

    <h3>
      <span style="font-size: 18px"
        ><span style="font-family: Arial, Helvetica, sans-serif"
          >Here are my answers to the prompts:</span
        ></span
      >
    </h3>

    <ul>
      <li>
        <span style="font-family: Arial, Helvetica, sans-serif"
          ><span style="font-size: 18px"
            >What is your project named? js-panda-css</span
          ></span
        >
      </li>
      <li>
        <span style="font-family: Arial, Helvetica, sans-serif"
          ><span style="font-size: 18px"
            >Would you like to use ESLint with this project? Yes</span
          ></span
        >
      </li>
      <li>
        <span style="font-family: Arial, Helvetica, sans-serif"
          ><span style="font-size: 18px"
            >Would you like to use Tailwind CSS with this project? No</span
          ></span
        >
      </li>
      <li>
        <span style="font-family: Arial, Helvetica, sans-serif"
          ><span style="font-size: 18px"
            >Would you like to use `src/` directory with this project? Yes</span
          ></span
        >
      </li>
      <li>
        <span style="font-family: Arial, Helvetica, sans-serif"
          ><span style="font-size: 18px"
            >Would you like to use experimental `app/` directory with this
            project? Yes</span
          ></span
        >
      </li>
      <li>
        <span style="font-family: Arial, Helvetica, sans-serif"
          ><span style="font-size: 18px"
            >What import alias would you like configured? @/*</span
          ></span
        >
      </li>
    </ul>

    <p>
      <span style="font-size: 18px"
        ><span style="font-family: Arial, Helvetica, sans-serif"
          >This will create a new Next.js project with a TypeScript template,
          which we will use as the base for our Panda CSS setup.</span
        ></span
      >
    </p>

    <h3>
      <span style="font-size: 20px"><strong>2. Setup Panda CSS</strong></span>
    </h3>

    <p>
      <strong
        ><span style="font-size: 20px"
          ><span style="font-family: Arial, Helvetica, sans-serif"
            >Install @pandacss/dev:</span
          ></span
        ></strong
      >
    </p>

    <p data-id="1bb35e9ef8faf0cf686d32015a4c13b9">
      <span style="font-size: 18px"
        ><span style="font-family: Arial, Helvetica, sans-serif"
          >First off, install Panda CSS as a dependency in your Next.js
          project.</span
        ></span
      >
    </p>

    <p data-id="ee9eae688d880002f1f8f25d528ffc80">
      <span style="font-size: 18px"
        ><span style="font-family: Arial, Helvetica, sans-serif"
          >You can run the following command:</span
        ></span
      >
    </p>

    <pre>
<code class="language-bash">npm i @pandacss/dev@0.0.0-dev-20230410155103</code></pre>

    <p>
      <span style="font-size: 16px"
        ><span style="font-family: Arial, Helvetica, sans-serif"
          ><em
            >Note: At the time of writing, Panda CSS is an experimental version
            0.0.0-dev-20230410155103. Please note that the version number and
            features may change as the library develops and updates</em
          ></span
        ></span
      >
    </p>

    <h3>
      <span style="font-size: 20px"><strong>3. Customize styling</strong></span>
    </h3>

    <p>&nbsp;</p>
  </body>
</html>
